.aboutSection {
  height: 600px;
  }
  
  .aboutContainer {
    max-width: 900px;
    display: flex;
    justify-content:flex-start;
  margin: 0px auto;
  margin-top: 300px;
    height:fit-content;
    padding: 5px 30px;
    border-radius: 20px;
    background-color: #F7FAFD;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  }

  
  