.aboutSection {
  height: 600px;
  }
  
  .aboutContainer {
    max-width: 900px;
    border-radius: 20px;
    padding: 15px 30px;
    background-color: #F7FAFD;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    
    display: flexbox; 
    margin: 20px auto;
    margin-top: 300px;

  }

    
    
  .aboutContainer h3 {
display: inline-block;
}

.aboutContainer p {
  display: inline;
}

  
  