.hero {
  background-color: #EFF2F3;
  padding-top: 50px;


}

.hero-container {
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  align-items: flex-end;
  height: 600px;
  width: 1200px;
  
}

.circle {
  height: 33.33%;
  width: 33.33%;
  padding-bottom: 33.33%;
  border-radius: 50%;
  background-color: #F7FAFD;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.circle img {
  max-width: 1800px;
  padding-top: 290px;
}

h1 {
 align-items: flex-start;
 font-size: 45px;
 padding-bottom: 30px;
}

.social-icons {
  display: flex;
  justify-content: flex-end;
}

:hover h1{
color: #FEC93D;
transition: ease-in;
}